.comments {
  overflow-y: auto;

  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  span {
    margin-left: 10px;
  }
}
