.task-create {
  width: 800px;
  height: 150px;
  padding: 20px;
  margin: 0 auto;

  // background: #eeeeee;
  // box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
  border-radius: 5px;

  form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    input {
      width: 400px;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #f57c00;
      border-radius: 5px;
      background-color: #eeeeee;

      &:focus {
        outline: none;
      }
    }

    .create {
      width: 120px;
      align-self: center;
      cursor: pointer;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      background: #ffa000; /* fallback for old browsers */

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
