.task-item {
  height: 200px;
  padding: 12px;
  background-color: whitesmoke;
  border-radius: 5px;

  background: whitesmoke;
  box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
  position: relative;
  h2,
  h4 {
    color: #ffa000;
  }
  h4 {
    height: 30px;
    color: #777;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  h5 {
    font-style: italic;
    color: #888;
  }

  .icons {
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 0%;
    padding: 2px;

    .update {
      margin-right: 20px;
      font-weight: bold;
      color: gray;
      cursor: pointer;
    }

    .delete {
      color: red;
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .status {
    position: absolute;
    padding: 10px;
    top: 80%;
    right: 0;
    margin-top: 10px;
    .check {
      display: flex;
      align-items: center;

      input {
        margin-right: 10px;
      }
    }
  }
  .status-label {
    left: 0;
    top: 89%;
    padding: 4px;
    color: white;
    font-weight: bold;
    position: absolute;
  }

  .progress {
    background-color: grey;
  }

  .completed {
    background-color: #ffa000;
  }
}
